<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheResult="false">

    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">LightWeightFramework</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="tests/html_coverage"/>
        </report>
    </coverage>
</phpunit>
